.BackButton {
  i {
    font-size: 14px
    top: 2px
    margin-right: 2px
    position: relative
  }
  font-weight: 100
  font-size: 16px
  margin: 16px 0 20px 0
  display: table
  width: 100%
  text-decoration: none
  &:hover {
    text-decoration: none
  }
}