.field-password {
  border: 1px solid #cfcfcf
  border-radius: 5px
  display: table
  transition: 400ms
  width: 100%
  max-width: 260px
  input {
    width: calc(100% - 40px)
    border: none
    float: left
    box-shadow: none
    transition: 900ms
    height: 36px
    border-radius: 5px
    &:focus {
      box-shadow: none
    }
  }
  &.error {
    border-color: #ff6666 !important
  }
  button {
    transition: 400ms
    outline: none
    width: 35px
    height: 35px
    background: #FFF
    border: none
    border-radius: 5px
    float: left
    font-size: 20px
    text-align: right
    opacity: 0
    i {
      font-size: 20px
      color: #cfcfcf
      margin-top: 8px
      transition: 200ms
      &.on {
        color: #4a4a4a
      }
    }
    &.show {
      opacity: 1
    }
  }
  &.disabled {
    background: #f7f7f7
    button {
      background: #f7f7f7
    }
  }
}