* {
  font-family: 'Roboto', sans-serif;
  outline: none
}

body {
  background: #FFF
}

@import "Grid.styl"
@import "./theme"

.page-content {
  padding-top: 95px
  padding-bottom: 50px
  min-height: calc(100vh - 232px)
  position: relative
  margin: 0 auto
  > .Row {
    margin-left: 0 !important
    margin-right: 0 !important
  }
}

small.error {
  float: left
  font-size: 12px
  color: #ff6666
  text-align: left
  margin-top: 4px
  height: 25px
}

.voiceButton {
  display: table
  border: 1px solid #000
  border-radius: 100px
  float: left
  margin: 0 10px 10px 0
  transition: 300ms
  cursor: pointer
  span {
    padding: 10px
    display: table
    float: left
  }
  i {
    float: left
    padding: 12px
    border: 1px solid #000
    border-radius: 50%
    border-right: 0
    width: 40px
    height: 40px
    text-align: center
  }
  &:hover {
    transition: 300ms
    background: #DDD
  }
}

.dividerOr {
  position: relative
  z-index: 2
  margin: 10px 0 40px 0
  width: 100%
  span {
    position: relative
    z-index: 2
    display: table
    margin: 0 auto
    padding: 0
    background: #fff
    color: #5c5c5c
    font-weight: 600
    font-size: 22px
    width: 50px
    line-height: 1
    text-align: center
  }
  &:after {
    width: 100%
    display: table
    content: " "
    border-top: 1px solid #6c6c6c
    top: 50%
    position: absolute
    left: 0
    z-index: 1
  }
}

.hidden {
  display: none !important
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.gray {
  color: #AAA
}

@media screen and (min-width $lg) {
  .page-content {
    width: 620px
  }
}

@media screen and (max-width: $xs) {
  .page-content {
    width: calc(100% - 40px)
  }
}
