.supporter-card {
  background: #f8f8f8
  display: table
  padding: 20px
  margin: 30px auto
  .support {
    font-size: 20px !important
    color: #557be4
    font-weight: 600 !important
  }
  ul {
    list-style-type: none
    padding: 0 30px
    li {
      &:before {
        content: "arrow_forward"
        font-family: 'Material Icons'
        position: absolute
        margin-left: -15px
      }
      span {
        color: #414d75
      }
      small {
        display: table
        width: 100%
        color: #5e7ee8
      }
    }
  }
}
