.Account {
  padding-top: 30px !important
  .Radio {
    line-height: 1.5em
  }

  .deleteAccount {
    .deleteAccountDescription {
      width: 100%
      display: table
      margin-bottom: 20px
    }
  }
  .account-info {
    ul {
      list-style: none
      padding: 0
      li {
        margin-bottom: 10px
        float: left
        width: 100%
        display: table
        span {
          &:first-child {
            width: 110px
            display: table
            float: left
          }
          &:last-child {
            display: table
            float: left
          }
        }
      }
    }
  }
}
