.terms-of-use {
  max-width: 800px
  margin: 0 auto
  .bi {
    white-space: nowrap;
    font-style: italic;
    font-weight: bold;
  }
  h4 {
    text-decoration: underline;
    font-weight: normal;
  }
  #dmcainfo {
    margin-left: 4em;
  }
}
